{% extends "base.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/agriculture.css') }}">
{% endblock %}

{% block title %}Agriculture Durable en Europe{% endblock %}

{% block content %}

<div class="container agriculture-content agriculture-background">
    <header class="text-center mb-4">
        <h1>Plan Consolidé pour une Agriculture Durable en Europe</h1>
        <p class="header-description">🌱🚀Excité de partager mon plan d'actions pour une agriculture plus durable ! Inspiré par l'approche AGILE, ce plan représente une première étape dans une quête pour un changement positif. Je suis convaincu que ce projet peut évoluer et s'enrichir grâce à vos idées et contributions. Ensemble, façonnons l'avenir de notre agriculture. #Durabilité #Innovation #Changement</p>
    </header>
    
	<main>
        <section id="objective" class="mb-4 objective-section">
            <h2>Objectif Global</h2>
            <p>Transformer l'agriculture européenne en modèle durable et productif d'ici 5 ans.</p>
        </section>
        
        <section id="action-areas">
            <article id="development-poles" class="agriculture-section">
                <h3 class="section-title icon-agriculture">
  			<span class="title-text">1. Développement des Pôles d'Excellence Agricole</span>
		</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Création de centres d'innovation agricole dans chaque région.</p>
                    <p><strong>Coût estimé :</strong> 10 millions par pôle</p>
                    <p><strong>Qui ?</strong> Commission Européenne en collaboration avec les autorités locales et les acteurs de l'industrie agricole</p>
                    <p><strong>Où ?</strong> Dans chaque région agricole de l'Union Européenne</p>
                    <p><strong>Quand ?</strong> Lancement de l'identification des sites dès le premier trimestre, développement complet sur 4 ans.</p>
                    <p><strong>Comment ?</strong> Par le financement et le soutien technique de la Commission Européenne, en partenariat avec les autorités locales et les acteurs de l'industrie.</p>
                </div>
            </article>
            <article id="training-programs" class="agriculture-section">
                <h3 class="section-title icon-agriculture">2. Programmes de Formation et Éducation</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Mise en place de programmes de formation sur les pratiques agricoles durables et l'utilisation des nouvelles technologies.</p>
                    <p><strong>Coût estimé :</strong> 5 millions d'euros par an pour les frais de formation.</p>
                    <p><strong>Qui ?</strong> Ministères de l'Agriculture, universités agricoles, ONG.</p>
                    <p><strong>Où ?</strong> Dans les zones rurales de chaque pays membre.</p>
                    <p><strong>Quand ?</strong> Lancement dans l'année 1, objectif de participation de 75% d'ici 3 ans.</p>
                    <p><strong>Comment ?</strong> En développant des modules de formation adaptés aux besoins locaux, en collaboration avec les acteurs concernés.</p>
                </div>
            </article>
            <article id="techno-innovation" class="agriculture-section">
                <h3 class="section-title icon-agriculture">3. Innovation Technologique et Partenariats</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Promotion de la recherche et développement dans le domaine des technologies agricoles durables.</p>
                    <p><strong>Coût estimé :</strong> 50 millions d'euros pourle financement des projets pilotes.</p>
                    <p><strong>Qui ?</strong> Instituts de recherche, coopératives agricoles, startups technologiques.</p>
                    <p><strong>Où ?</strong> À l'échelle européenne, avec un accent sur les zones agricoles.</p>
                    <p><strong>Quand ?</strong> Lancement de 50 projets pilotes par pays d'ici 2 ans.</p>
                    <p><strong>Comment ?</strong> Par le financement de la recherche, l'encouragement des partenariats public-privé, et la mise en œuvre de programmes d'incitation.</p>
                </div>
            </article>
	     <article id="financial-support" class="agriculture-section">
                <h3 class="section-title icon-agriculture">4. Soutien Financier et Politique</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Augmentation des financements pour les initiatives agricoles durables.</p>
                    <p><strong>Coût estimé :</strong> Variable selon les politiques nationales et européennes, estimation globale de 1 milliard d'euros.</p>
                    <p><strong>Qui ?</strong> Commission Européenne, gouvernements nationaux.</p>
                    <p><strong>Où ?</strong> Au niveau de l'Union Européenne et des gouvernements nationaux.</p>
                    <p><strong>Quand ?</strong> Dans le prochain cycle de la Politique Agricole Commune (PAC).</p>
                    <p><strong>Comment ?</strong> Par l'allocation de budgets spécifiques et la révision des politiques agricoles nationales pour favoriser la durabilité.</p>
                </div>
            </article>
		<article id="market-dev" class="agriculture-section">
                <h3 class="section-title icon-agriculture">5. Développement des Marchés Locaux et d'Export</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Promotion des circuits courts et des produits locaux, ainsi que le développement des exportations spécifiques.</p>
                    <p><strong>Coût estimé :</strong> 20 millions d'euros pourles campagnes de promotion etle soutien à l'exportation.</p>
                    <p><strong>Qui ?</strong> Chambres d'agriculture, associations professionnelles.</p>
                    <p><strong>Où ?</strong> Dans chaque pays membre de l'UE et sur les marchés d'exportation cibles.</p>
                    <p><strong>Quand ?</strong> Augmentation de 20% des produits locaux dans la consommation et de 15% des exportations spécifiques en 5 ans.</p>
                    <p><strong>Comment ?</strong> Par des campagnes de sensibilisation, le développement de labels de qualité, etle soutien à l'exportation.</p>
                </div>
            </article>
		<article id="sustainable-practice" class="agriculture-section">
                <h3 class="section-title icon-agriculture">6.Pratiques Agricoles Durables</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Promotion des pratiques agricoles respectueuses de l'environnement.</p>
                    <p><strong>Coût estimé :</strong> 100 millions d'euros pour les incitations financières etles programmes de conseil.</p>
                    <p><strong>Qui ?</strong> Agriculteurs, services de conseil agricole.</p>
                    <p><strong>Où ?</strong> Sur les exploitations agricoles à travers l'Europe.</p>
                    <p><strong>Quand ?</strong> Réduction de 25% de l'utilisation d'engrais chimiques et augmentation de 30% des surfaces durables en 5 ans.</p>
                    <p><strong>Comment ?</strong> Par des incitations financières, des programmes de conseil et de démonstration, et la diffusion de bonnes pratiques.</p>
                </div>
            </article>
		<article id="product-valorisation" class="agriculture-section">
                <h3 class="section-title icon-agriculture">7.Valorisation des Spécificités Régionales</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Promotion des produits régionaux et des indications géographiques.</p>
                    <p><strong>Coût estimé :</strong> 5 millions d'euros pour la certification et la promotion.</p>
                    <p><strong>Qui ?</strong> Ministères de l'Agriculture, consortiums de producteurs.</p>
                    <p><strong>Où ?</strong> Dans chaque région européenne avec des produits spécifiques.</p>
                    <p><strong>Quand ?</strong> Doublement du nombre de produits AOP/IGP dans chaque pays en 5 ans.</p>
                    <p><strong>Comment ?</strong> Par la certification, la promotion et le développement de marchés spécifiques</p>
                </div>
            </article>
		<article id="followup-evaluation" class="agriculture-section">
                <h3 class="section-title icon-agriculture">8. Suivi et Évaluation</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Suivi régulier des progrès et évaluation des résultats.</p>
                    <p><strong>Coût estimé :</strong> 10 millions d'euros pour la collecte de données et l'analyse.</p>
                    <p><strong>Qui ?</strong> Agences de statistique gouvernementales, universités.</p>
                    <p><strong>Où ?</strong> À l'échelle de l'UE et dans chaque pays membre.</p>
                    <p><strong>Quand ?</strong> Rapports annuels avec ajustements stratégiques nécessaires.</p>
                    <p><strong>Comment ?</strong> Par la collecte de données, l'analyse des indicateurs clés et le partage des résultats.</p>
                </div>
            </article>
		<article id="training" class="agriculture-section">
                <h3 class="section-title icon-agriculture">9. Adaptation des Formations aux Disponibilités des Agriculteurs</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Développement de programmes de formation flexibles et accessibles.</p>
                    <p><strong>Coût estimé :</strong> 3 millions d'euros pour le développement de contenus et la mise en œuvre.</p>
                    <p><strong>Qui ?</strong> Chambres d'agriculture, coopératives, fournisseurs d'intrants.</p>
                    <p><strong>Où ?</strong> Dans les régions agricoles de chaque pays membre.</p>
                    <p><strong>Quand ?</strong> Mise en œuvre continue avec évaluation annuelle.</p>
                    <p><strong>Comment ?</strong> Par le développement de contenus en ligne, de sessions de formation locales et de modules adaptés aux horaires agricoles.</p>
                </div>
            </article>
		<article id="public-sensibilisation" class="agriculture-section">
                <h3 class="section-title icon-agriculture">10. Campagnes de Sensibilisation Publique</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Sensibilisation du grand public aux enjeux de l'agriculture durable</p>
                    <p><strong>Coût estimé :</strong> 15 millions d'euros par an pour les campagnes médiatiques.</p>
                    <p><strong>Qui ?</strong> Agences de marketing, ONG environnementales.</p>
                    <p><strong>Où ?</strong> Sur les marchés, dans les médias et en ligne.</p>
                    <p><strong>Quand ?</strong> Campagnes annuelles à partir de 2024.</p>
                    <p><strong>Comment ?</strong> Par des campagnes publicitaires, des événements de sensibilisation et des partenariats avec les médias et les influenceurs.</p>
                </div>
            </article>
		<article id="randd" class="agriculture-section">
                <h3 class="section-title icon-agriculture">11. Recherche et Développement de Solutions Alternatives aux Produits Chimiques</h3>
                <div class="section-content">
                    <p><strong>Quoi ?</strong> Financement de la recherche pour développer des alternatives aux produits chimiques dans l'agriculture.</p>
                    <p><strong>Coût estimé :</strong> 30 millions d'euros pourles subventions à la recherche.</p>
                    <p><strong>Qui ?</strong> : Instituts de recherche, universités, entreprises spécialisées.</p>
                    <p><strong>Où ?</strong> : À l'échelle européenne, avec une focalisation sur les zones agricoles</p>
                    <p><strong>Quand ?</strong> Lancement des projets de recherche dans l'année 2,résultats attendus d'ici 5 ans</p>
                    <p><strong>Comment ?</strong> Par des subventions à la recherche, des collaborations avec l'industrie et le soutien à l'innovation.</p>
                </div>
            </article>
        </section>
    </main>
</div>

{% endblock %}
