{% extends "base.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/eduadapt-enfants.css') }}">
{% endblock %}

{% block title %}EduAdapt pour les enfants{% endblock %}

{% block content %}

<div class="container eduadapt-content eduadapt-background">
    <header class="text-center mb-4">
            <h1>Éveillez le Potentiel de Chaque Enfant avec EduAdapt</h1>
                <p class="header-description">Au cœur de chaque enfant réside un potentiel illimité et EduAdapt est la clé pour le débloquer. Notre mission est d'offrir une expérience d'apprentissage révolutionnaire qui s'adapte intuitivement à la curiosité naturelle de chaque enfant, permettant de s'épanouir dans un monde numérique tout en valorisant les interactions humaines essentielles. Embarquez dans une aventure où l'éducation est une toile colorée de possibilités, tissée par l'intelligence artificielle et enrichie par une touche humaine.</p>
            </header>
    </section>

   <section id="features">
  		<article id="pour-les-enfants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Apprentissage Personnalisé</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>EduAdapt révolutionne l'expérience éducative des enfants en utilisant l'intelligence artificielle pour offrir un apprentissage véritablement personnalisé, tout en équilibrant judicieusement le temps passé devant les écrans et les activités hors ligne. Notre plateforme est conçue pour s'adapter à chaque enfant, reconnaissant leurs forces, leurs intérêts, et leurs domaines à améliorer, afin de créer un parcours éducatif sur mesure qui évolue avec eux,
incluant la génération de documents papier pour une expérience d'apprentissage diversifiée.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enfants-apprentissage.webp" alt="Image apprentissage adapté pour les enfants">
            	</div>
		</div>
	</div>
            </article>

            <!-- Activités interactives et leur importance -->
	
            <article id="pour-les-enfants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Apprentissage Dynamique et Interactif</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>EduAdapt rend l'apprentissage vivant et engageant à travers une gamme d'activités interactives, de jeux éducatifs, de projets pratiques, et de supports imprimés. Cette approche hybride encourage chaque enfant à explorer, à expérimenter et à découvrir, transformant chaque leçon en une aventure captivante, tout en minimisant le temps passé devant les écrans.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enfants-interactif.webp" alt="Image éducative pour les enfants">
		</div>
		</div>
	</div>
</article>
            <!-- Développement des compétences essentielles -->

            <article id="pour-les-enfants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Développement des Compétences de Vie</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>Au-delà des matières académiques, EduAdapt prépare les enfants aux défis du monde réel. Nous intégrons des leçons pratiques sur des compétences essentielles telles que la résolution de problèmes, la pensée critique, la gestion financière, le bricolage, et bien plus encore, accessibles à la fois en ligne et via des supports imprimés. Ces compétences équipent les enfants pour naviguer avec succès dans la vie quotidienne et les préparent à devenir des citoyens actifs et éclairés.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enfants-competence-vie.webp" alt="Compétences de vie pour les enfants">
		</div>
		</div>
	</div>
 </article>

	    <!-- Soutien et feedback -->

	    <article id="pour-les-enfants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Soutien Continu et Feedback Constructif</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>L'intelligence artificielle d'EduAdapt fournit des retours en temps
réel et un soutien continu, permettant aux enfants de comprendre immédiatement les concepts et de progresser à leur propre rythme, aussi bien à travers des interactions digitales qu'avec des documents papier. Cela renforce la confiance en soi et cultive un amour durable pour l'apprentissage.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enfants-suivi.webp" alt="Suivi et feedback pour les enfants">
		</div>
		</div>
	</div>
	    </article>

	<!-- Fondation pour l avenir -->
	    <article id="pour-les-enfants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Une Fondation pour l'Avenir</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>En mettant l'accent sur l'apprentissage personnalisé et le développement des compétences de vie, tout en favorisant une approche équilibrée entre les activités numériques et physiques, EduAdapt vise à fournir à chaque enfant les outils dont ils ont besoin pour réussir académiquement et personnellement. Notre mission est de garantir que tous les enfants, quel que soit leur point de départ, peuvent réaliser leur plein potentiel et rêver grand.</p>
		<p>Rejoignez la communauté EduAdapt et participez à la création d'un parcours éducatif qui prépare les jeunes esprits à réussir dans un monde connecté et diversifié.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enfants-avenir.webp" alt="Suivi et feedback pour les enfants">
    		<!-- Ici, vous pouvez ajouter un bouton d'appel à l'action si nécessaire -->
    		<a href="#join-eduadapt" class="btn btn-primary">Rejoindre EduAdapt</a>
 </article>
		</div>
		</div>
		</div>
	</div>

        </div>
    </section>

</div>
</main>
{% endblock %}