{% extends "base.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/eduadapt-enseignants.css') }}">
{% endblock %}

{% block title %}EduAdapt pour les enseignants{% endblock %}

{% block content %}

<div class="container eduadapt-content eduadapt-background">
    <header class="text-center mb-4">
            <h1>Renforcer la Pédagogie avec l'IA</h1>
                <p class="header-description">EduAdapt marque le début d'une ère nouvelle dans l'enseignement, en s'appuyant sur l'intelligence artificielle pour transcender les approches traditionnelles et introduire une dimension de personnalisation et d'efficacité sans précédent. Cette plateforme est conçue pour faire de l'apprentissage une expérience sur mesure, adaptée aux besoins uniques de chaque élève, tout en offrant aux enseignants les outils pour approfondir leur pratique pédagogique. En intégrant l'IA dans le processus éducatif, EduAdapt vise à enrichir l'expérience d'enseignement, à maximiser le potentiel de chaque élève, et à préparer les générations futures à un monde en constante évolution. En facilitant l'accès à des données précises sur les progrès des élèves et en proposant des stratégies pédagogiques innovantes, EduAdapt soutient les enseignants dans leur mission d'inspirer, de motiver et d'engager tous les apprenants.</p>
            </header>
    </section>

   <section id="features">
  		<article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Apprentissage Personnalisé</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>EduAdapt révolutionne l'expérience éducative des enseignants en utilisant l'intelligence artificielle pour offrir un apprentissage véritablement personnalisé, tout en équilibrant judicieusement le temps passé devant les écrans et les activités hors ligne. Notre plateforme est conçue pour s'adapter à chaque enfant, reconnaissant leurs forces, leurs intérêts, et leurs domaines à améliorer, afin de créer un parcours éducatif sur mesure qui évolue avec eux,
incluant la génération de documents papier pour une expérience d'apprentissage diversifiée.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-apprentissage-perso.webp" alt="Image apprentissage adapté pour les enseignants">
            	</div>
		</div>
	</div>
            </article>

            <!-- Gain de temps -->
	
            <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Gains de Temps et Efforts</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>EduAdapt automatisera l'évaluation des compétences et des besoins de chaque élève grâce à l'IA, réduisant considérablement le temps nécessaire à la correction et à la préparation des leçons. Les enseignants pourront se concentrer sur ce qu'ils font de mieux : enseigner, inspirer et interagir avec leurs
élèves.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-gain-temps.webp" alt="Gain pour les enseignants">
		</div>
		</div>
	</div>
</article>
            <!-- Planification Personnalisée Facilitée -->

            <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Planification Personnalisée Facilitée</span></h3>
		<div class="section-content">
            	<div class="content-text">
                <p>La plateforme fournira des recommandations pédagogiques sur mesure, suggérant des activités et des ressources alignées sur le niveau et les intérêts de chaque élève. Cela permettra aux enseignants de personnaliser facilement leurs plans de cours et d'adapter leur enseignement à des classes hétérogènes.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-planification.webp" alt="Compétences de vie pour les enseignants">
		</div>
		</div>
	</div>
 </article>

	    <!-- Suivi des Progrès en Temps Réel -->

	    <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Suivi des Progrès en Temps Réel</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>Avec EduAdapt, les enseignants auront accès à des tableaux de bord intuitifs
qui suivent les progrès et les réalisations des élèves. Cela leur permettra d'identifier rapidement les domaines où
les élèves excellent ou ont besoin de soutien supplémentaire, facilitant une intervention précoce et ciblée.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-suivi-temps-reel.webp" alt="Suivi et feedback pour les enseignants">
		</div>
		</div>
	</div>
	    </article>

  <!-- Collaboration avec les Parents -->

	    <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Collaboration avec les Parents</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>EduAdapt agira comme un pont entre l'école et la maison, permettant aux enseignants de communiquer plus efficacement avec les parents sur les progrès de leurs enfants. Les rapports générés par EduAdapt aideront à créer un dialogue constructif et une collaboration étroite pour le bénéfice de chaque enfant.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-collaboration.webp" alt="Suivi et feedback pour les enseignants">
		</div>
		</div>
	</div>
	    </article>

  <!-- Développement Professionnel Continu -->

	    <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Développement Professionnel Continu</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>EduAdapt offrira aux enseignants des opportunités de formation
professionnelle, des ateliers et des ressources pour rester à la pointe des méthodes d'enseignement innovantes et
de l'utilisation de la technologie dans l'éducation.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-developpement.webp" alt="Suivi et feedback pour les enseignants">
		</div>
		</div>
	</div>
	    </article>

	<!-- Répondre aux Besoins Individuels -->
	    <article id="pour-les-enseignants" class="eduadapt-section">
    		<div class="section-inner">
                <h3 class="section-title icon-eduadapt"><span class="title-text">Répondre aux Besoins Individuels</span></h3>
		<div class="section-content">
            	<div class="content-text">
		<p>La capacité d'EduAdapt à ajuster le contenu en fonction des réponses des
élèves signifie que les enseignants peuvent assurer que chaque élève reçoit l'attention dont il a besoin pour exceller, sans surcharger les enseignants avec la différenciation manuelle.</p>
		</div>
		<div class="content-image">
                		<!-- Mettez à jour le chemin d'accès à l'image selon votre structure de dossier -->
                		<img src="static/img/eduadapt-enseignants-besoin.webp" alt="Suivi et feedback pour les enseignants">
    		<!-- Ici, vous pouvez ajouter un bouton d'appel à l'action si nécessaire -->
    		<a href="#join-eduadapt" class="btn btn-primary">Rejoindre EduAdapt</a>
 </article>
		</div>
		</div>
		</div>
	</div>

        </div>
    </section>

</div>
</main>
{% endblock %}